server:
  address: 0.0.0.0
  port: 8182

spring:
  application:
    name: OpenClinic
  datasource:
    url: ${OPENCLINIC_DATASOURCE_URL}
    username: ${OPENCLINIC_DATASOURCE_USERNAME}
    password: ${OPENCLINIC_DATASOURCE_PASSWORD}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
    open-in-view: false
    show-sql: true

springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html
